@{
    ViewData["Title"] = "Home Page";
}
z
<div class="text-center">
    <h1 class="display-4">Welcome to checklist anywhere</h1>

    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps for ASP.NET Core</a>.</p>
</div>

